Source: mfetch
Section: net
Priority: optional
Maintainer: Pierre-Yves Kerembellec <py.kerembellec@gmail.com>
Build-Depends: debhelper (>= 5), golang-1.15
Standards-Version: 3.7.2

Package: mfetch
Architecture: any
Description: content fetcher over multiple HTTP/TCP paths

